
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

.header {
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 15px;
}


.nav {
    background: #1f2933;
    text-align: center;
    padding: 12px;
}

.nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav a i {
    margin-right: 6px;
}


.card {
    background: white;
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card h2 {
    color: #2563eb;
    margin-bottom: 15px;
}


.skills-list {
    list-style: none;
}

.skills-list li {
    display: inline-block;
    background: #e0e7ff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
}

.skills-list i {
    margin-right: 6px;
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #1e40af;
}

/* Footer */
.footer {
    background: #1f2933;
    color: white;
    text-align: center;
    padding: 20px;
}

.socials i {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
